<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Assistant&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="styleswhoami.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Assistant&family=Share+Tech+Mono&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">
	<title>Understanding The Self || Fhil Joshua || CS-1101</title>
</head>
<body>
<header>
	<span class="logo">FJC || CS-1101</span>
	<nav>
		<ul>
			<li class=" nav " >
				<a href="../index.html">
					HOME
				</a>
			</li>
			<li class="nav active">
				<a href="#">
					WHO AM I
				</a>
			</li>
			<li class="nav">
				<a href="">
					WHERE AM I
				</a>
			</li>
			<li class="nav">
				<a href="">
					HOW AM I
				</a>
			</li>
		</ul>
	</nav>
</header>

<section id="content">
</section>



</body>
</html>